.App {
  text-align: center;
}

.ghibli-logo {
  height: 50px;
  width: 50px;
}

.Navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  align-items: center;
  margin: 20px;
}
